:root {
    /* Primary Colors*/
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);

    /* Neutral Colors*/
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);

    /* Font */
    --mainFont: 'Inter', sans-serif;
}

/* Globals */

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--mainFont);
    background-color: var(--offWhite);
    width: 100%;
    max-width: 110rem;
    height: auto;
    padding: 0 2rem;
}

@media (max-width: 760px) {
    html {
        padding: 1.5rem 0;
        align-items: unset;
    }
}

/** Navbar **/

.navbar {
    width: 100%;
    height: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.navbar__menu--close {
    float: right;
    display: none;
}

.navbar__list {
    float: right;
    margin: 0;
    display: flex;
    list-style: none;
}

.navbar__list--item {
    line-height: 4rem;
    width: auto;
    margin: 0;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--darkGrayishBlue);
    font-size: 1.5rem;
}

.navbar__list--item:hover {
    color: var(--softRed);
}

.screen__opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.4);
    width: 100vw;
    height: 100vh;
    display: none;
}

.navbar__menu {
    float: right;
    cursor: pointer;
    display: none;
}

.navbar__menu img {
    align-self: center;
}

#check{
    display: none;
}

@media (max-width: 760px) {
    .navbar {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .navbar__menu {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    .navbar__logo {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    .navbar__logo--icon {
        height: 2.5rem;
    }

    .navbar__list {
        position: fixed;
        width: 64vw;
        height: 100vh;
        background: #2c3e50;
        background-color: var(--offWhite);
        right: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        top: 0;
        padding: 2.5rem;
    }

    .navbar__list li {
        display: block;
        text-align: left;
        margin: .5rem 0;

    }

    .navbar__list--item {
        color: var(--veryDarkBlue);
        font-size: 1.8rem;
        margin: 0;
    }

    .navbar__menu--close {
        display: block;
        margin-bottom: 8rem;
    }

    .navbar__menu--close img {
        float: right;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ .screen__opacity {
        display: block;
    }
}

/** Grid container **/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                        "main main new" 
                        "main main new"
                        "cards cards cards";
    gap: 3rem;
}

@media (max-width: 760px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "new" "cards";
    }
}

/** Main  **/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "main-image main-image" 
                        "main-title main-info";
    column-gap: 3rem;
    row-gap: 2rem;
}

@media (max-width: 760px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas: "main-image" "main-title" "main-info";

    }
}

.main__image {
    grid-area: main-image;
    background-image: url("../assets/images/image-web-3-desktop.jpg");
    background-size: cover;
    width: 100%;
    height: 30rem;
}

@media (max-width: 760px) {
    .main__image {
        background-image: url("../assets/images/image-web-3-mobile.jpg");
    }
}

.main__title {
    grid-area: main-title;
    margin: 0;
    /* margin-top: 3rem; */
}

.main__title h1 {
    margin: 0;
    font-size: 5.4rem;
    font-weight: 800;
    max-width: 90%;
    line-height: 5.5rem;
}

@media (max-width: 760px) {
    .main__title {
        margin-bottom: 1rem;
    }

    .main__title h1 {
        font-size: 4.5rem;
        max-width: 100%;
        line-height: 4rem;
    }
}

.main__info {
    grid-area: main-info;
    /* margin-top: 3rem; */
    padding-right: 1rem;
}

@media (max-width: 760px) {
    .main__info {
        margin-top: 1rem;
        padding-right: 0;
    }
}

.main__info--text {
    color: var(--darkGrayishBlue);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

@media (max-width: 760px) {
    .main__info--text {
        margin-bottom: 2.5rem;
    }
}

.main__info--button {
    background-color: var(--softRed);
    color: var(--offWhite);
    border: none;
    padding: 1.5rem 3rem;
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.main__info--button:hover {
    background-color: var(--veryDarkBlue);
    cursor: pointer;
}

/** New (aside) **/

.new {
    grid-area: new;
    background-color: var(--veryDarkBlue);
    padding: 2.8rem 2.5rem;
}

.new__title {
    color: var(--softOrange);
    font-size: 4rem;
    margin: 0;
    margin-bottom: 3rem;
}

.new__info--title {
    color: var(--offWhite);
    font-size: 2rem;
    margin: 0;
}

.new__info--title:hover {
    cursor: pointer;
    color: var(--softOrange);
}

.new__info--text {
    color: var(--grayishBlue);
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 0;
}

@media (max-width: 760px) {
    .new__info--text {
        font-size: 1.4rem;
    }
}

.new__separation {
    border-bottom: 0.1rem solid var(--grayishBlue); 
    margin: 3rem 0;
}


/** Cards **/

.cards__container {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    /* height: 20rem; */
}

@media (max-width: 760px) {
    .cards__container {
        grid-template-columns: 1fr;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card__image {
    height: 12rem;
}

.card__number {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--grayishBlue);
    margin: 0;
    margin-bottom: 1rem;
}

.card__title {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--veryDarkBlue);
    margin: 0;
    margin-bottom: 1rem;
}

.card__text {
    font-size: 1.4rem;
    color: var(--darkGrayishBlue);
    margin: 0;
    padding-right: 8%;
    line-height: 2.5rem;
}

/** Attribution **/

.attribution {
    margin-top: 3rem;
    
}

@media (max-width: 760px) {
    .attribution {
        text-align: center;
        margin-bottom: 2rem;
    }
}


.attribution__text {
    font-size: 1.2rem;
}

.attribution__text a {
    color: var(--softRed);
}

.attribution__text a:hover {
    color: var(--softOrange);
}
