:root {
    /* Primary Colors*/
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);

    /* Neutral Colors*/
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);

    /* Font */
    --mainFont: 'Inter', sans-serif;
}

/* Globals */

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--mainFont);
    background-color: var(--offWhite);
    width: 100%;
    max-width: 120rem;
    height: auto;
    padding: 0 2rem;
}

/** Navbar **/

.navbar {
    width: 100%;
    height: 4rem;
}

.navbar__logo {
}

.navbar__logo--icon {
}

.navbar__list {
    float: right;
    margin: 0;
    display: flex;
    list-style: none;
}

.navbar__list--item {
    line-height: 4rem;
    width: auto;
    margin: 0;
    margin-left: 2.5rem;
    text-decoration: none;
    color: var(--darkGrayishBlue);
    font-size: 1.3rem;
}

.navbar__list--item:hover {
    color: var(--softRed);
}

@media (max-width: 375px) {
    
}

.navbar__menu {
    float: right;
    line-height: 4rem;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
  }
