:root {
    /* Primary Colors*/
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);

    /* Neutral Colors*/
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);

    /* Font */
    --mainFont: 'Inter', sans-serif;
}

/* Globals */

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--mainFont);
    background-color: var(--offWhite);
    width: 100%;
    max-width: 120rem;
    height: auto;
    padding: 0 2rem;
}

@media (max-width: 760px) {
    html {
        padding: 1.5rem 0;
        align-items: unset;
    }
}

/** Navbar **/

.navbar {
    width: 100%;
    height: 4rem;
}

.navbar__menu--close {
    float: right;
    display: none;
}

.navbar__list {
    float: right;
    margin: 0;
    display: flex;
    list-style: none;
}

.navbar__list--item {
    line-height: 4rem;
    width: auto;
    margin: 0;
    margin-left: 2.5rem;
    text-decoration: none;
    color: var(--darkGrayishBlue);
    font-size: 1.3rem;
}

.navbar__list--item:hover {
    color: var(--softRed);
}

.screen__opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.4);
    width: 100vw;
    height: 100vh;
    display: none;
}

.navbar__menu {
    float: right;
    cursor: pointer;
    display: none;
}

.navbar__menu img {
    align-self: center;
}

#check{
    display: none;
}

@media (max-width: 760px) {
    .navbar__menu {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    .navbar__logo {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    .navbar__logo--icon {
        height: 2.5rem;
    }

    .navbar__list {
        position: fixed;
        width: 64vw;
        height: 100vh;
        background: #2c3e50;
        background-color: var(--offWhite);
        right: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        top: 0;
        padding: 2rem;
        padding-top: 2.5rem;
    }

    .navbar__list li {
        display: block;
        text-align: left;

    }

    .navbar__list--item {
        margin: 0;
    }

    .navbar__menu--close {
        display: block;
    }

    .navbar__menu--close img {
        float: right;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ .screen__opacity {
        display: block;
    }
}